<%- include('partials/header'); -%>
<div class="container">
    <div class="row">
        <div class="col-sm-4 col-md-4 info">
            <div>
                <h1> <%=user.username %></h1>
                <h3> <%= user.email %> </h3>
            </div>
    
            <div>
                <h1>Followers (<%= user.followers.length %>)</h1>
                <div>
                    <% user.followers.forEach(function(data){%>
                        <a href="/profile/<%=data.name%>"></a><%= data.name%></a>
                    <%})%>
                </div>
                
            </div>
    
            <div>
                <h1>Following(<%= user.following.length %>)</h1>
                <div>
                    <%user.following.forEach(function(data){%>
                        <a href="/profile/<%=data.name%>"><%=data.name%></a>
                    <%})%>
                </div>
                
            </div>
        </div>
        <div class="col-sm-8 col-md-8 post">
            <h1> My Posts (<%=user.posts.length%>) </h1>
            <div>
                <%posts.forEach(function(post){%>
                    <div>
                        <p class="card-text"><%= post.text%></p>
                    </div>
                    <% }) %>
            </div>
        </div>
    </div>
</div>
 

 <%- include('partials/footer'); -%>