<%- include('../partials/header') %>

<div class="container" style="margin-top: 20px;">
    <header class="jumbotron">
        <div>
            <h1>See All the Posts  <a class="btn btn-primary " href="/explore"> Here</a></h1>
        </div>
    </header>



    <div class="container " style="margin-top: 20px;">
        <div class="row hidden-md-up" style="display: flex; flex-wrap: wrap;">
          
            <% posts.forEach(function(post){ %>

            <div class="col-md-3 col-sm-6" style="margin-top: 15px;">

                <div class="thumbnail">
                    <div class="card">
                        <div class="card-body"">
                            <h5 class="card-title" style="text-align: center;"><%= post.author %></h5>
                            <p class="card-text"> <%= post.text.substring(0,100) %> ... </p>
                            <%if(currentUser && post.author != currentUser.username){%>

                               <%if(currentUser.following.filter((user)=>user.name==post.author).length==0){%>
                                    <a class="card-link  bton btn btn-primary btn-sm" href="/follow/<%=post.author%>">Follow</a>
                                  <%}else{%>
                                    <a class="card-link bton btn btn-primary btn-sm" href="/unfollow/<%=post.author%>">UnFollow</a>
                                  <%}%>
                                   <a href="/post/<%= post._id %>" class="card-link btn btn-primary btn-sm bton">Read more</a>
                            <%}%>
                        </div>
                    </div>
               </div>
            </div>
          <%})%>
        </div>
    </div>
   
</div>
<%- include('../partials/footer') %>