<%- include('../partials/header') %>

<div class="container" style="margin-top: 20px; padding-bottom: 2.5em;">
    <header class="jumbotron bg-dark text-white">
        <div style="text-align: center;">
            <h1>See All The Posts <a class="btn btn-primary " href="/explore"> Here</a></h1>
        </div>
    </header>



    <div class="container " style="margin-top: 20px;">
        <div class="row hidden-md-up" style="display: flex; flex-wrap: wrap;">

            <% posts.forEach(function(post){ %>

            <div class="col-md-3 col-sm-6" style="margin-top: 20px;">

                <div class="thumbnail">
                    <div class="card">
                        <div class="card-header bg-danger">
                           <a href="/profile/<%= post.author%>" class="text-white"><h5 class="card-title " style="text-align: center;"><%= post.author %></h5></a> 
                        </div>

                        <div class="card-body bg-dark text-light" style=" height: 10rem;"">
                            <p class="card-text"> <%= post.text.substring(0,100) %> ... </p>   
                        </div>

                        <div class="card-footer">
                            <%if(currentUser && post.author != currentUser.username){%>
                                <%if(currentUser.following.filter((user)=>user.name==post.author).length==0){%>
                                <a class="card-link  bton btn btn-primary btn-sm" href="/follow/<%=post.author%>">Follow</a>
                                <%}else{%>
                                <a class="card-link bton btn btn-primary btn-sm" href="/unfollow/<%=post.author%>">UnFollow</a>
                                <%}%>
                            <%}%>
                            <a href="/post/<%= post._id %>" class="card-link btn btn-primary btn-sm bton">Read more</a>
                        </div>
                    </div>
                </div>
            </div>
            <%})%>
        </div>
    </div>
    
    <br>
    <nav aria-label="Page navigation">
        <% if (pages && pages > 0) { %>
        <ul class="pagination justify-content-center">
            <% if (current == 1) { %>
            <li class="page-item disabled"><a class="page-link">First</a></li>
            <% } else { %>
            <li><a class="page-link" href="/<%= currentpage%>">First</a></li>
            <% } %>
     
            <% if (current == 1) { %>
            <li class="page-item disabled"><a class="page-link">«</a></li>
            <% } else { %>
            <li><a class="page-link" href="/<%= currentpage%>?page=<%= Number(current) - 1 %>">«</a></li>
            <% } %>
     
            <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
            <% if (i !== 1) { %>
            <li class="page-item disabled"><a class="page-link">...</a></li>
            <% } %>
            <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
            <% if (i == current) { %>
            <li class="active"><a class="page-link"><%= i %></a></li>
            <% } else { %>
            <li><a class="page-link" href="/<%= currentpage%>?page=<%= i %>"><%= i %></a></li>
            <% } %>
            <% if (i == Number(current) + 4 && i < pages) { %>
            <li class="page-item disabled"><a class="page-link">...</a></li>
            <% } %>
            <% } %>
     
            <% if (current == pages) { %>
            <li class="page-item disabled"><a class="page-link">»</a></li>
            <% } else { %>
            <li><a class="page-link" href="/<%= currentpage%>?page=<%= Number(current) + 1 %>">»</a></li>
            <% } %>
     
            <% if (current == pages) { %>
            <li class="page-item disabled"><a class="page-link">Last</a></li>
            <% } else { %>
            <li><a class="page-link" href="/<%= currentpage%>?page=<%= pages %>">Last</a></li>
            <% } %>
        </ul>
        <% } %>
    </nav>


</div>
<%- include('../partials/footer') %>